<?xml version="1.0" encoding="UTF-8"?>

<!--
The MIT License

Copyright 2016 OEAW/ACDH.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->

<Repositories>
   <styles>
      <style operation="searchRetrieve">http://localhost/corpus_shell/xsl/fcs/result2view_v1.xsl</style>
      <style operation="scan">http://localhost/corpus_shell/xsl/fcs/scan2view_v1.xsl</style>
      <style operation="explain">http://localhost/corpus_shell/xsl/fcs/explain2view_v1.xsl</style>
      <style operation="default">http://localhost/corpus_shell/xsl/misc/xml2view_v1.xsl</style>
   </styles>
   <item>
      <name>arz_eng_006</name>
      <label>VICAV dictionary Cairo-dialect</label>
      <id>1</id>
      <type>fcs</type>
      <style>http://localhost/corpus_shell/xsl/result2view_v1.xsl</style>
      <uri>http://corpus3.aac.ac.at/cs2/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php</uri>
   </item>
   <item>
      <name>apc_eng_002</name>
      <label>VICAV dictionary Damascus-dialect</label>
      <id>2</id>
      <type>fcs</type>
      <style>http://localhost/corpus_shell/xsl/result2view_v1.xsl</style>
      <uri>http://corpus3.aac.ac.at/cs2/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php</uri>
   </item>
   <item>
      <name>dga_yue_v001</name>
      <label>Cantonese-Dagaare-English Online Lexicon</label>
      <id>1</id>
      <type>fcs</type>
	  <!-- delete skripts:--pwd--@ for unprotected resources else replace --pwd-- with the real password. -->
      <style>http://skripts:--pwd--@127.0.0.1/dicts/modules/mysqlonsru/GlossaryOnSRU.php?x-context=dga_yue_v001&amp;operation=searchRetrieve&amp;query=rfpid=10</style>
      <style operation="explain">../../xsl/glossary-explain.xsl</style>
      <uri>http://skripts:--pwd--@127.0.0.1/dicts/modules/mysqlonsru/GlossaryOnSRU.php</uri>
   </item>
   <item>
      <name>clarin.at:icltt:ddc</name>
      <label>DDC on Corpus3</label>
      <id>4</id>
      <type>fcs.resource</type>
      <style>http://localhost/corpus_shell/xsl/result2view_v1.xsl</style>
      <uri>http://corpus3.aac.ac.at/ddconsru</uri>
   </item>
   <item>
      <name>sru-gutenberg</name>
      <label>Gutenberg Metadata</label>
      <id>6</id>
      <type>sru</type>
      <style>http://localhost/corpus_shell/xsl/result2view_v1.xsl</style>
      <uri>http://opencontent.indexdata.com/gutenberg</uri>
   </item>
   <item>
      <name>vicav-profile</name>
      <label>VICAV Profile</label>
      <id>7</id>
      <type>fcs</type>
      <style>http://localhost/corpus_shell/xsl/profile.xsl</style>
      <uri>http://corpus3.aac.ac.at/cs2/corpus_shell/modules/mysqlonsru/ProfileOnSRU.php</uri>
   </item>
	<item>
      <name>vicav-bib</name>
      <label>VICAV Bibliography</label>
      <id>8</id>
      <type>fcs</type>
      <style>http://localhost/corpus_shell/xsl/bibliography.xsl</style>
      <uri>http://corpus3.aac.ac.at/cs2/corpus_shell/modules/mysqlonsru/BibliographyOnSRU.php</uri>
   </item>
	<item>
      <name>vicav-text</name>
      <label>VICAV Sampletexte</label>
      <id>9</id>
      <type>fcs</type>
      <style>http://localhost/corpus_shell/xsl/profilesampletext.xsl</style>
      <uri>http://corpus3.aac.ac.at/cs2/corpus_shell/modules/mysqlonsru/SampleTextOnSRU.php</uri>
   </item>
	<item>
      <name>ids-goethe</name>
      <label>IDS Goethe</label>
      <id>10</id>
      <type>fcs</type>
      <style>http://localhost/corpus_shell/xsl/result2view_v1.xsl</style>
      <uri>http://clarin.ids-mannheim.de/cosmassru</uri>
   </item>
   <item>
      <name>arz_eng_006_newStyle</name>
      <label>VICAV dictionary Cairo-dialect newStyle</label>
      <id>11</id>
      <type>fcs</type>
      <style>http://localhost/corpus_shell/xsl/result2view_v1.xsl</style>
      <uri>https://minerva.arz.oeaw.ac.at/cs2/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php</uri>
   </item>
   <item>
      <name>lrp</name>
      <label>Language Resources Portal</label>
      <id>12</id>
      <type>fcs.resource</type>
      <style>http://localhost/corpus_shell/xsl/fcs/result2view_v1.xsl</style>
      <uri>http://clarin.aac.ac.at/exist/apps/cr-xq/lrp/fcs</uri>
   </item>
   <item>
      <name>clarin-d:digilib</name>
      <label>TextGrid Digital Library</label>
      <id>13</id>
      <type>fcs</type>
      <style>http://localhost/corpus_shell/xsl/result2view_v1.xsl</style>
      <uri>http://clarin.ids-mannheim.de/digibibsru</uri>
   </item>
      <item>
      <name>clarin-d:tueba-ddc</name>
      <label>TueBa/DDC</label>
      <id>14</id>
      <type>sru</type>
      <style>http://localhost/corpus_shell/xsl/result2view_v1.xsl</style>
      <uri>http://weblicht.sfs.uni-tuebingen.de/rws/cqp-ws/cqp/tueba-ddc</uri>
   </item>   
</Repositories>