<Repositories>
   <styles>
      <style operation="searchRetrieve">../../fcs/result2view_v1.xsl</style>
      <style operation="scan">../../xsl/fcs/scan2view_v1.xsl</style>
      <style operation="scan-json">../../xsl/fcs/scan2json.xsl</style>
      <style operation="explain">../../xsl/fcs/explain2view_v1.xsl</style>
      <style operation="explain-json">../../xsl/fcs/explain2json.xsl</style>
      <style operation="default">../../xsl/misc/xml2view_v1.xsl</style>
   </styles>
   <item>
      <name>vicav_profiles_001</name>
      <label>Profiles</label>
      <id>7</id>
      <type>fcs</type>
      <style>../../xsl/profile.xsl</style>
      <style operation="explain">../../xsl/profile-explain.xsl</style>
      <uri>http://skripts:test@localhost/corpus_shell/modules/mysqlonsru/ProfileOnSRU.php</uri>
   </item>
   <item>
      <name>vicav_sampletexts</name>
      <label>Sample Texts</label>
      <id>7</id>
      <type>fcs</type>
      <style>../../xsl/profile.xsl</style>
      <style operation="explain">../../xsl/profile-explain.xsl</style>
      <uri>http://skripts:test@localhost/corpus_shell/modules/mysqlonsru/ProfileOnSRU.php</uri>
   </item>
   <item>
      <name>vicav_meta</name>
      <label>Meta Texts</label>
      <id>7</id>
      <type>fcs</type>
      <style>../../xsl/profile.xsl</style>
      <style operation="explain">../../xsl/profile-explain.xsl</style>
      <uri>http://skripts:test@localhost/corpus_shell/modules/mysqlonsru/ProfileOnSRU.php</uri>
   </item>
   <item>
      <name>vicav_lingfeatures_001</name>
      <label>Linguistic Feature Texts</label>
      <id>14</id>
      <type>fcs</type>
      <style>../../xsl/ling_features.xsl</style>
      <style operation="explain">../../xsl/profile-explain.xsl</style>
      <uri>http://skripts:test@localhost/corpus_shell/modules/mysqlonsru/SampleTextOnSRU.php</uri>
   </item>
   <item>
      <name>vicav_tools_001</name>
      <label>Tools Texts</label>
      <id>13</id>
      <type>fcs</type>
      <style>../../xsl/profile.xsl</style>
      <style operation="explain">../../xsl/profile-explain.xsl</style>
      <uri>http://skripts:test@localhost/corpus_shell/modules/mysqlonsru/ProfileOnSRU.php</uri>
   </item>
   <item>
      <name>vicav_bibl_002</name>
      <label>Bibliography</label>
      <id>8</id>
      <type>fcs</type>
      <style>../../xsl/bibliography.xsl</style>
      <uri>http://skripts:test@localhost/corpus_shell/modules/mysqlonsru/BibliographyOnSRU.php</uri>
   </item>
   <item>
      <name>aeb_eng_001__v001</name>
      <label>Dictionary Tunis Variety</label>
      <id>1</id>
      <type>fcs</type>
      <style>../../xsl/glossary.xsl</style>
      <style operation="explain">../../xsl/glossary-explain.xsl</style>
      <uri>http://skripts:test@localhost/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php</uri>
   </item>
   <item>
      <name>apc_eng_002</name>
      <label>Dictionary Damascus Variety</label>
      <id>2</id>
      <type>fcs</type>
      <style>../../xsl/glossary.xsl</style>
      <style operation="explain">../../xsl/glossary-explain.xsl</style>
      <uri>http://skripts:test@localhost/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php</uri>
   </item>
   <item>
      <name>arz_eng_006</name>
      <label>Dictionary Cairo Variety</label>
      <id>2</id>
      <type>fcs</type>
      <style>../../xsl/glossary.xsl</style>
      <style operation="explain">../../xsl/glossary-explain.xsl</style>
      <uri>http://skripts:test@localhost/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php</uri>
   </item>
   <item>
      <name>lrp</name>
      <label>Language Resources Portal</label>
      <id>12</id>
      <type>fcs.resource</type>
<!--      <style>http://corpus3.aac.ac.at/cs2/corpus_shell/xsl/fcs/result2view_v1.xsl</style> -->
      <uri>http://clarin.aac.ac.at/exist/apps/cr-xq/lrp/fcs</uri>
   </item>
<!--   <item>
      <name>vicav-text</name>
      <label>VICAV Sampletexte</label>
      <id>9</id>
      <type>fcs</type>
      <style>../../xsl/profilesampletext.xsl</style>
      <uri>http://skripts:test@localhost/corpus_shell/modules/mysqlonsru/SampleTextOnSRU.php</uri>
   </item> -->
<!--   <item>
      <name>arz_eng_006_newStyle</name>
      <label>VICAV dictionary Cairo-dialect newStyle</label>
      <id>11</id>
      <type>fcs</type>
      <style>../../xsl/fcs/result2view_v1.xsl</style>
      <uri>http://skripts:test@localhost/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php</uri>
   </item> -->
</Repositories>